<template>
  <div class="row">
    <div class="col-lg-4">
      <BlockMessage />
    </div>
    <div class="col-lg-7">
      <BlockMessageDetail />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import BlockMessage from "@/components/BlockMessage";
import BlockMessageDetail from "@/components/BlockMessageDetail";
export default {
  name: "Chart",
  components: { BlockMessage, BlockMessageDetail },
  mounted() {
    this.$store.commit("setCurrentUser", this.$route.params.idUser);
  },
};
</script>

<style>
</style>