<template>
  <div>
    <h6 class="title"></h6>
    <div class="message-detail" v-if="currentMessages">
      <div class="row mb-3">
        <div class="col-lg-6">
          <Message
            :title="currentUser.nom"
            body="Est connecte"
            :image="currentUser.image"
            :connect="currentUser.connect"
            :active="currentUser.active"
            :connectTop="currentUser.connectTop"
          />
        </div>
        <div class="col-lg-6">
          <div style="float: right; margin-top: 30px; margin-right: 20px">
            <svg
              class="mr-3"
              xmlns="http://www.w3.org/2000/svg"
              style="margin-left: 10px; color: rgba(0, 0, 0, 0.5)"
              width="20px"
              height="20px"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              className="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="{2}"
                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
              />
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="{2}"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div :key="msg.id" v-for="msg in currentMessages">
        <MessageEnvoi
          v-if="msg.envoi"
          :message="msg.message"
          :heure="msg.heure"
          :vu="msg.vu"
          :lu="msg.lu"
        />
        <MessageRecu v-else :message="msg.message" :heure="msg.heure" />
      </div>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          clear: both;
          width: 100%;
          padding-right: 20px;
        "
      >
        <textarea
          placeholder="Votre message"
          name=""
          width="75%"
          cols="50"
          rows="2"
        ></textarea>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
          />
        </svg>
      </div>
    </div>
    <div v-else class="jumbotron">
      Vos discussions apparaitrons ici. Cliquez sur une disussion pour voir son
      contenu
    </div>
  </div>
</template>

<script>
import Message from "@/components/Message.vue";
import MessageEnvoi from "@/components/MessageEnvoi.vue";
import MessageRecu from "@/components/MessageRecu.vue";
import { mapGetters } from "vuex";
export default {
  name: "BlockMessageDetail",
  components: { Message, MessageEnvoi, MessageRecu },
  sockets: {
    connect() {
      this.connect = true;
    },
    disconnect() {
      this.connect = false;
    },
  },

  data() {
    return {};
  },

  methods: {
    envoiMessage() {},
    pingServer() {
      this.$socket.emit("ping", "present?");
    },
  },
  computed: {
    ...mapGetters(["currentMessages", "currentUser"]),
  },
};
</script>


<style scoped>
.message-detail {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  overflow-x: hidden;
  padding: 10px;
}

.title {
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
}
</style>