<template>
  <div>
    <h6 class="title">My contacts</h6>
    <div class="liste-message">
      <div class="recherche">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          style="margin-right=10px"
          width="20px"
          height="20px"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          /></svg
        ><span class="ml-2"> Search ...</span>
      </div>
      <Message
        v-for="user in users"
        :key="user.id"
        :id="user.id"
        :title="user.nom"
        :body="spliceMessage(user)"
        :image="user.image"
        :connect="user.connect"
        :active="user.active"
      >
      </Message>
    </div>
  </div>
</template>

<script>
import Message from "@/components/Message.vue";
import { mapGetters } from "vuex";
export default {
  name: "BlockMessage",

  components: { Message },
  data() {
    return {};
  },
  methods: {
    spliceMessage(user) {
      return (
        user.messages[user.messages.length - 1].message.slice(0, 25) + "..."
      );
    },
  },
  computed: {
    ...mapGetters(["users", "currentUser"]),
  },
};
</script>

<style scoped>
.liste-message {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  margin-right: 15px;
  padding: 10px;
}

.title {
  font-weight: bold;
  font-size: 15px;
  margin-left: 45px;
  margin-bottom: 20px;
}
.recherche {
  color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
</style>