<template>
  <div class="message-global">
    <div class="message">
      <div class="text">
        {{ message }}
      </div>
      <div class="heure">
        {{ heure }}
      </div>
    </div>
    <span v-if="lu" class="etat"
      >lu
      <svg
        xmlns="http://www.w3.org/2000/svg"
        className="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          strokeWidth="{2}"
          d="M5 13l4 4L19 7"
        />
      </svg>
    </span>
    <span v-else-if="vu" class="etat"
      >vu
      <svg
        width="12px"
        xmlns="http://www.w3.org/2000/svg"
        className="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          strokeWidth="{2}"
          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
        />
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          strokeWidth="{2}"
          d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
        /></svg
    ></span>
  </div>
</template>

<script>
export default {
  name: "MessageEnvoi",
  props: {
    message: {
      type: String,
      require: true,
    },
    vu: {
      type: Boolean,
      require: false,
    },
    lu: {
      type: Boolean,
      default: false,
    },
    heure: String,
  },
};
</script>

<style scoped>
.message {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  font-size: 15px;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
  background-color: #e9e9e9;
}

.message .text {
  max-width: 90%;
}

.message .heure {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  float: right;
}

.message-global {
  max-width: 450px;
  float: right;
  clear: both;
  color: #4f4f4f;
}
.etat {
  margin-right: 25px;
  float: right;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
</style>