<template>
  <div>
    <div
      class="message"
      :class="{ active: active }"
      :idUser="id"
      @click="$router.push('/chart/' + 1)"
    >
      <div>
        <div v-if="connectTop" class="rounded-circle connect-top"></div>
        <div>
          <img
            :src="image"
            alt=""
            width="50px"
            height="50px"
            class="rounded-circle"
          />
        </div>
        <div v-if="connect" class="rounded-circle connect"></div>
      </div>
      <div>
        <h7 class="message-title">{{ title }}</h7>
        <p class="body">{{ body }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "NavTop",

  props: {
    title: {
      type: String,
      require: true,
    },
    body: {
      type: String,
      require: true,
    },
    image: {
      type: String,
      default: "@/assets/logo.png",
    },
    active: {
      default: false,
    },
    connect: {
      default: false,
    },
    connectTop: {
      default: false,
    },
  },
};
</script>

<style scoped>
.message {
  display: flex;
  padding: 5px;
  padding-bottom: 0px;
  font-size: 12px;
  margin: 10px;
  cursor: pointer;
}

.message-title {
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
}

.message .body {
  color: #828282;
  margin-left: 10px;
  font-size: 15px;
}

.connect {
  position: relative;
  float: right;
  top: -15px;
  width: 10px;
  height: 10px;
  background-color: seagreen;
}

.connect-top {
  position: relative;
  float: right;
  top: 12px;
  width: 10px;
  height: 10px;
  background-color: seagreen;
}

.active {
  background-color: #fef5f5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
</style>