<template>
  <div class="message-global">
    <div class="message">
      <div class="text">
        {{ message }}
      </div>
      <div class="heure">
        {{ heure }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MessageRecu",
  props: {
    message: {
      type: String,
      require: true,
    },
    vu: {
      type: Boolean,
      require: false,
    },
    lu: {
      type: Boolean,
      default: false,
    },
    heure: String,
  },
};
</script>

<style scoped>
.message {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
  font-size: 15px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fef5f5;
  clear: both;
  color: #4f4f4f;
  width: 100%;
}

.message-global {
  max-width: 450px;
}

.message .text {
  max-width: 80%;
}

.message .heure {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  float: right;
}
</style>