<template>
  <div id="app" class="app">
    <div class="nav-top"><NavTop /></div>
    <div class="row content">
      <div class="col-sm-2">
        <NavLeft></NavLeft>
      </div>
      <div class="col-sm-10 mt-4">
        <router-view />
      </div>
    </div>
  </div>
</template>

<style>
.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  overflow: hidden;
}
.content {
  background-color: rgb(245, 245, 245);
  overflow-y: auto;
  overflow-x: hidden;
}
.nav-top {
  position: relative;
  z-index: 5;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  background-color: #fffafa;
  height: 90px;
}
</style>

<script>
import NavTop from "@/components/nav/NavTop";
import NavLeft from "@/components/nav/NavLeft";

export default {
  components: { NavTop, NavLeft },
};
</script>