<template>
  <nav class="navbar navbar-fixed-top mb-0 pb-0">
    <a class="col-lg-2" href="#"
      ><img height="60px" width="60px" src="logo1.png" alt=""
    /></a>
    <div class="col-lg-7" style="color: rgba(0, 0, 0, 0.5)">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        style="margin-right=10px"
        width="20px"
        height="20px"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        /></svg
      >Search
    </div>
    <div class="image-rigth">
      <div>
        <p class="image-rigth-text">Hello, <span class="nom">Méchac</span></p>
      </div>
      <div>
        <img
          src="profil/1.png"
          alt=""
          width="50px"
          height="50px"
          class="rounded-circle"
        />
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "NavTop",
};
</script>

<style scoped>
.image-rigth {
  display: flex;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
  padding-bottom: 0px;
  margin-right: 60px;
}
.image-rigth .nom {
  color: #ec4899;
  margin-right: 20px;
}
</style>